﻿body {
    margin:0;
    padding:0;
    overflow-y:auto;
}

#SaveButton {
    margin-left:400px;
}

.floatleft{
    float:left;
    width:200px;
}

.midsection{
    width: 100px;
}

.moveButtons{
    width:70px;
    margin:15px;
}

.bglightgray{
    background-color: lightgray;
    border-radius: 4px;
}

#Wizard1_SideBarContainer_SideBarList{
    position:relative;
    top: 0;
}

#Wizard1_SideBarContainer_SideBarList p {
    margin: 5px 3px;
    padding: 5px;
    width:100px ;
    text-align:center;
    border: 1px solid black;
    border-radius: 3px;
    background-color: #0094ff;
}

#Wizard1_SideBarContainer_SideBarList p a{
    color: white !important;
}

#Wizard1_SideBarContainer_SideBarList p:hover {
    background-color: #808080;
}

/*header {
    height:90px;
    background-color: #656565;
    margin:0;
    padding:0;
}

header h1{
    font-size: 3em;
    color: white;
}

header h1 img {
    width: 60px;
    height: 60px;
    margin:10px 0 0 10px;
}

#container {
    height:80%;
}

#centerdiv{
    width: 85%;
    height:80%;
    margin: 5px auto;
    padding:10px;
    border:1px solid black;
}

fieldset {
    border:none;
}

.labels {
    width:150px;
    display: inline-block;
    text-align:right;
}

footer{
    position: absolute;
    bottom:0px;
    left:0;
    height:90px;
    background-color: #0094ff;
    width:100%;
    margin:0;
    padding:0;
}*/
